bin/
buildozer/
kivy_venv/
logs/
spieltage/
spieltage_old/
.buildozer/
.buildozer/state.db
__pycache__
data/DALL·E 2025-02-26 22.41.54 - A minimalistic and modern logo featuring a half bicycle wheel with spokes that seamlessly transitions into a clock. The design should be simple, using.webp
